nav, footer {
				clear: both;
				color: #ffffff;
				background-color: #99CC66;
				height: 30px;
			}

			nav ul 
			{
				margin: 0px;
				padding: 5px 0px 5px 30px;
			}
			nav li 
			{
				display: inline;
				margin-right: 40px;
			}
			
body 
{
				color: #666666;
				background-color: #f9f8f6;
				background-image: url("imgback.jpg");
				background-position: center;
				font-family: Georgia, Times, serif;
				margin: 0px;}

}
header 		{
				height: 100px;
				width: 300px;
				background-image: url(header.jpg);
			}



.kanan
{
	float: right;
}


.tengah
{
	float:center;
}

.kiri
{
	float:left;
	border-right: 2px solid black;
    padding: 0 10px;
    margin: 50 20 20px 0;
}

footer 
{
	font-size: 80%;
	padding: 7px 0px 0px 20px;
}

	.biarpas 	{
				background-image: url("img.jpg");
				width: 940px;
				margin: 20px auto 20px auto;
				border: 2px solid #000000;
				}
.tablelist
{
	padding: 4px;
	border: 0px solid black;
}

td
{
	text-align: center;
}

th
{
	color: #3333CC;
	text-align: center;
}